@font-face {
  font-family: "Tictail Sans";
  src: url("//app.ttcdn.co/fonts/TictailSans-Regular.eot");
  src: url("//app.ttcdn.co/fonts/TictailSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("//app.ttcdn.co/fonts/TictailSans-Regular.woff") format("woff"),
    url("//app.ttcdn.co/fonts/TictailSans-Regular.ttf") format("truetype"),
    url("//app.ttcdn.co/fonts/TictailSans-Regular.svg") format("svg");
  font-weight: normal;
}

@font-face {
  font-family: "Tictail Sans";
  src: url("//app.ttcdn.co/fonts/TictailSans-SemiBold.eot");
  src: url("//app.ttcdn.co/fonts/TictailSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("//app.ttcdn.co/fonts/TictailSans-SemiBold.woff") format("woff"),
    url("//app.ttcdn.co/fonts/TictailSans-SemiBold.ttf") format("truetype"),
    url("//app.ttcdn.co/fonts/TictailSans-SemiBold.svg") format("svg");
  font-weight: 600;
}

@font-face {
  font-family: "Tictail Sans";
  src: url("//app.ttcdn.co/fonts/TictailSans-Bold.eot");
  src: url("//app.ttcdn.co/fonts/TictailSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("//app.ttcdn.co/fonts/TictailSans-Bold.woff") format("woff"),
    url("//app.ttcdn.co/fonts/TictailSans-Bold.ttf") format("truetype"),
    url("//app.ttcdn.co/fonts/TictailSans-Bold.svg") format("svg");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Tictail Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
