.category-left {
	border-right: 1px solid hotpink;
	margin-right: 30px;
	padding-right: 30px;
}

@media (max-width: 600px) {
	.category-left {
		border-right: none;
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding-right: 0;
		width: 100%;
	}
}
