.product {
	height: 100%;
	width: 100%;
	background-color: white;
	padding: 10px;
	padding-top: 0px;
}
.product-image {
	text-align: center;
}
.product-image img {
	height: auto;
	width: 100%;
}

.product-price {
	display: flex;
}
